.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  /* banner styles */
  .banner{
    display: flex;
    gap: 80px;
    flex-direction: row;
justify-content: space-around;
align-items: center;
    border-radius: 24px;
    width: 1280px;

background: rgb(198, 228, 214);
margin: 80px auto;
padding: 80px 50px 80px 50px;
  }
  .banner-des{
  .color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0%;
  text-align: left;
  margin: 16px 0px;
  width: 622px;
  }
  .bangla{
    color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
    
  }
  /* main style */
  main{
    width: 1280px;
    margin:80px auto;
  }
  main section{margin-top: 130px;
    margin-bottom: 130px;}
  /* vision styles */
  .vision{
    margin: 0px auto;
  }
  .vision-container{
    display: flex;
    gap: 24px;
    margin-top: 32px;
  }
  
  .vision-title{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 32px;
  }
  .vision-des{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;

  }
  .vision1{
    box-sizing: border-box;
border-radius: 16px;

background: rgba(84, 144, 245, 0.2);
padding: 32px;
width: 410.67px;
height: 325px;
  }
  .vision2{
    box-sizing: border-box;
border-radius: 16px;

background: rgb(198, 228, 214);
padding: 32px;
width: 410.67px;
height: 325px;
  }
  .vision3{
    box-sizing: border-box;
border-radius: 16px;

background: rgb(247, 235, 207);
padding: 24px;
width: 410.67px;
height: 325px;

  }
  .vision1-title{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
  }
  .vision1-des{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
  }
  .btn-vision1{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;

background: rgb(84, 144, 245);
padding: 11px 20px 11px 20px;
border: none;
  }
  .btn-vision2{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;

background: rgb(9, 161, 92);
padding: 11px 20px 11px 20px;
border: none;
margin-top: 23px;
  }
  .btn-vision3{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;

background: rgb(255, 194, 57);
padding: 11px 20px 11px 20px;
border: none;
margin-top: 7px;
  }

  /* shared styles */
  .btn-dgreen{
    border-radius: 8px;

background: rgb(0, 106, 80);
width: 270px;
height: 56px;

padding: 17px 34px 17px 34px;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
border: none;
margin: 24px 0px;
  }
.text-left{
  text-align: left;
}

  
  
  
  