.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgba(234, 241, 241, 0.919);
  }
  /* banner styles */
  .banner{
    display: flex;
    gap: 80px;
    flex-direction: row;
justify-content: space-around;
align-items: center;
    border-radius: 24px;
    width: 1280px;

background: rgb(198, 228, 214);
margin: 80px auto;
padding: 80px 50px 80px 50px;
  }
  .banner-des{
  .color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0%;
  text-align: left;
  margin: 16px 0px;
  width: 622px;
  }
  .bangla{
    color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
    
  }
  /* main style */
  main{
    width: 1280px;
    margin:80px auto;
  }
  main section{margin-top: 130px;
    margin-bottom: 130px;}
  /* vision styles */
  .vision{
    margin: 0px auto;
  }
  .vision-container{
    display: flex;
    gap: 24px;
    margin-top: 32px;
  }
  /* shared with Recent news */
  
  .vision-title{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 32px;
  }
  /* shared with Recent news */
  .vision-des{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;

  }
  .vision1{
    box-sizing: border-box;
border-radius: 16px;

background: rgba(84, 144, 245, 0.2);
padding: 32px;
width: 410.67px;
height: 325px;
  }
  .vision2{
    box-sizing: border-box;
border-radius: 16px;

background: rgb(198, 228, 214);
padding: 32px;
width: 410.67px;
height: 325px;
  }
  .vision3{
    box-sizing: border-box;
border-radius: 16px;

background: rgb(247, 235, 207);
padding: 24px;
width: 410.67px;
height: 325px;

  }
  .vision1-title{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
  }
  .vision1-des{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
  }
  
  .btn-vision1{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;

background: rgb(84, 144, 245);
padding: 11px 20px 11px 20px;
border: none;
  }
  
  .btn-vision2{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;

background: rgb(9, 161, 92);
padding: 11px 20px 11px 20px;
border: none;
margin-top: 23px;
  }
  
  .btn-vision3{
    color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;

background: rgb(255, 194, 57);
padding: 11px 20px 11px 20px;
border: none;
margin-top: 7px;
  }

  /* shared styles */
  .button:hover{background-color: brown;}
  .btn-dgreen{
    border-radius: 8px;

background: rgb(0, 106, 80);
width: 270px;
height: 56px;

padding: 17px 34px 17px 34px;
color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
border: none;
margin: 24px 0px;
  }
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
/* Recent news styles */

}
.vision-des{
  margin-top: 0px;
}
.jhamelar-date{
  display: flex;
  gap:10px
}
.recent-news-banner{
  display: flex;
 
  align-items:center;
  border-radius: 24px;
  
background: rgb(255, 255, 255);
padding:48px 48px 48px 48px;
gap: 32px;
height: 300px;
}
.btn-dgreen2{
  padding: 13px 26px 13px 26px;
  border-radius: 8px;

  background: rgb(0, 106, 80);
  width: 139px;
  height: 48px;
  
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  border: none;
  
}
.newsimg{
  border-radius: 24px;
  
}
.news-title{
.color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
margin: 12px 0px;
padding-top: 56px;
}
.news-des{
  color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 12px 0px;
padding-bottom: 11px;
}
.news-details{
 
  padding-bottom: 70px;
}
.recent-news-banner2{
  display: flex;
  flex-direction: row-reverse;
  align-items:center;
  border-radius: 24px;
  margin-top: 32px;
  

background: rgb(255, 255, 255);
padding:48px 48px 48px 48px;
gap: 32px;
height: 300px;
}
/* donation-part-styles */
.donate-box{
  box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
padding: 40px;
margin-top: 32px;
}
.blue-box{
  background: rgb(198, 228, 214);
}
.donation-box{
  display: flex;
  justify-content:space-between;
  gap: 24px;
  
  margin: 0px auto;
width: 1071px;
margin-top: auto;
 
}
.margin{
  margin: 10px auto;
  width: 1104px;
height: 48px;
}
.number-input{

box-sizing: border-box;
border-top: none;
border-left: none;
border-right: none;
border-bottom: none;
border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(255, 255, 255);
  color: rgba(14, 14, 14, 0.3);
font-family: Fira Sans;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
padding: 20px 40px 20px 40px;
width: 1032px;
margin: 0px auto;
}
.btn-dgreen3{
  color: rgb(255, 255, 255);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: center;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;

background: rgb(0, 106, 80);
padding: 17px 34px 17px 34px;
margin-top: 32px;
}
  /* news-letter */
  .subscribe{
  border-radius: 24px;
  padding: 80px 100px 80px 100px;

  
  background: rgb(198, 228, 214);
  margin:80px auto;
}
  .news-letter-title{
  color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
  }
  .news-letter-title-des{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
width: 622px;
height: 48px;
margin: 16px auto;
  }
  .subscription-bar {
    
    padding: 10px;
    display: flex; 
    justify-content: center;
    width: 600px;
    margin: 0px auto;
    
  }
 
  #email-input {
  
    color: rgba(14, 14, 14, 0.3);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
    border: none; 
    padding: 5px;
    width: 80%; 
    border-radius: 8px 0px 0px 8px;

background: rgb(255, 255, 255);
padding: 18px 40px 18px 40px;
  }
  
  .subscribe-button {
    border-radius: 0px 8px 8px 0px;

background: rgb(0, 106, 80);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  .promise{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
  }
 .inner-div{
  margin: 0px 64px;
  height: 235px;
  margin-bottom:40px;
  
 } 
 /* challenging part */
 .container {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  
  background: rgb(255, 255, 255);
  padding: 48px 24px 48px 24px;
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position:2.8% 16%;

}




.text-content {
  display: inline-block;
  margin-left: 10px;  
}


.name-title {
  
  color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-bottom: auto;
}
.text-content-des{
  color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin: 12px 0px;
}
.chief{
  color: rgba(14, 14, 14, 0.6);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-top: 10px;
}

  
  